<!DOCTYPE html>
<html data_theme="light">
    <head>
        {% include 'head/head_tag_std.html' %}
    </head>
    <body class="preload">
        {% include 'body/header.html' %}
        <main class="container">
            <header>
                {% if 'search' in page_destinations %}
                    <h4 id="search-result_header">
                        Wyniki wyszukiwania dla
                        {% if 'search_by' == 'tag' %}
                            kategorii:
                        {% elif 'search_by' == 'author' %}
                            autora:
                        {% else %}
                            hasła:
                        {% endif %}
                        {{searching_object}}
                    </h4>
                {% endif %}
            </header>
            <section id="content_area" class="container">
                {% if 'post_wrapper' in display_content %}
                    {% include 'body/content_area/post_wrapper.html' %}
                {% endif %}
                {% if 'page_switcher' in display_content and pages_amount >= 1 %}
                    {% include 'body/content_area/page_switcher.html' %}
                {% endif %}
            </section>
            {% include 'body/sidebar.html' %}
        </main>
        {% include 'body/footer.html' %}
    </body>
</html>
