{% load compress %}
{% load static %}


{% include 'head/load_favicon.html' %}
<title>
    Amator Programista {% if title is not None %} | {{title}} {% endif %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta charset="utf-8"/>
{% include 'head/load_fonts.html' %}

{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main_style.scss' %}"/>
{% endcompress %}

<script type="text/javascript" src="{% static 'js/preload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nav_toggle.js' %}"></script>
