html {
    height: 100%;
    --first-font: "Cabin";
    --second-font: "Arvo";
    --tertiary-font: "Ubuntu";
    &[data_theme="light"]{
        --bg-color: #FFFFFF;
        --primary-color: #689EE0;
        --secondary-color: #000000;
        --tertiary-color: #689EE0;
        --quaternary-color: #6b7577;

    }
    &[data-theme='dark']{

    }
}

body {
    background-color: var(--bg);
    margin: 0px;
    &.preload * {
        transition: none !important;
    }
}

hr {
    clear: both;
    margin: 0px;
}

.container {
    box-sizing: border-box;
    max-width: 1260px;
    margin-left: 6%;
    padding-left: 18px;
    padding-right: 18px;
}

a {
    &:not(.inText) {
        text-decoration: none;
    }
    &.bold_link {
        color: var(--secondary-color);
        transition: color 0.2s;
        &.active {
            color: var(--primary-color);
        }
        &:hover {
            color: var(--primary-color);
        }
    }
}

#page_header{
    width: 80%;
    box-sizing: border-box;

    min-height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    img {
        vertical-align: middle;
        height: 100px;
        width: auto;
    }
    #nav_toggle_bt {
        display: none;
        @media screen and (max-width: 964px) {
            display: inline-block;
            width: 50px;
            height: 50px;
        }
    }
    nav {
        float: right;
        display: inline-block;
        font-family: var(--first-font);
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        margin: 24px 0px 24px 0px;
        #nav_list {
            margin: 0px;
            list-style-type: none;
            li {
                float: left;
                padding: 20px;
            }
            @media screen and (max-width: 964px) {
                display: none;
                &.unrolled {
                    display: block;
                    text-align: center;
                    li {
                        float: none;
                        clear: both;
                        position: absolute;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

main {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 20px;
    display: inline-block;

    @media screen and (max-width: 980px) {
        &.container {
            width: 100%;
            margin: 0px;
        }
    }
    @media screen and (max-width: 600px) {
        &.container{
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &>header {
        h2 {
            font-family: var(--first-font);
            font-size: 34px;
            font-weight: bold;
            color: var(--secondary-color);
            margin: 0;
        }
        h4 {

        }
    }

    #content_area {
        box-sizing: border-box;
        margin: 0px;
        text-align: initial;

        width: 70%;
        float: left;
        &.container {
            padding-left: 0;
        }
        @media screen and (max-width: 980px) {
            width: 100%;
            float: none;
        }
        &.wide {
            width: 85%;
        }

        section.context_writer {
            font-family: var(--tertiary-font);
            font-size: 17px;
            color: var(--secondary-color);
            article {
                p {
                    margin: 10px 0px 0px 35px;
                }
                h6 {
                    margin: 5px 0px 0px 35px;
                    font-weight: bold;
                    font-size: 25px;
                }
                header>h5 {
                margin: 0;
                margin-top: 5px;
                font-size: 30px;
                font-weight: bold;
            }
            }
        }

        #post_wrapper {
            article {
                padding-bottom: 25px;
                #post_image img {
                    width: 50%;
                }
                #post_content {
                    width: 49%;
                    float: right;
                    padding-left: 1%;
                    #post_header {
                        #post_title {
                            font-family: var(--first-font);
                            font-weight: bold;
                            font-size: 24px;
                            margin: 0 0 5px 0;
                            @media screen and (max-width: 600px) {
                                font-size: 20px;
                            }
                            @media screen and (max-width: 560px) {
                                font-size: 18px;
                            }
                            a {
                                text-decoration: none;
                                color: var(--primary-color);
                                transition: color 0.3s;
                                &:hover{
                                    color: var(--secondary-color);
                                    transition: color 0.3s;
                                }
                            }
                            transition: font-size 1s;
                        }
                        #post_meta {
                            font-family: var(--first-font);
                            color: var(--quaternary-color);
                            font-size: 11px;
                            a {
                                text-decoration: none;
                                color: var(--quaternary-color);
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    #post_excerpt {
                        font-family: var(--tertiary-font);
                        font-size: 15px;
                        @media screen and (max-width: 1300px) and (min-width: 981px){
                            display: none;
                        }
                    }
                }
            }
        }

        .context_writer.post {
            &>header {
                img {
                    width: 100%;
                }
            }
        }

        #page_switcher{
            margin: 0px;
            text-align: center;
            display: inline-block;
            margin: 0px auto;
            ol {
                display: inline-block;
                list-style-type: none;
                li {
                    box-sizing: border-box;
                    font-family: var(--first-font);
                    font-size: 15px;
                    float: left;
                    height: 25px;
                    width: 25px;
                    color: var(--secondary-color);
                    &#current_page_index {
                        position: relative;
                        top: -4px;
                        border-radius: 3px;
                        border-width: 2px;
                        border-style: solid;
                        height: 33px;
                        width: 33px;
                        color: var(--primary-color);
                        border-color: var(--primary-color);
                    }
                }
            }
        }
    }

    #sidebar {
        padding: 0px 20px;
        margin: 0px;
        text-align: initial;

        width: 30%;
        float: right;
        @media screen and (max-width: 980px) {
            width: 100%;
            float: none;
            margin-top: 20px;
        }
        aside {
            margin-bottom: 15px;
            border-radius: 3px;
            border-width: 2px;
            border-color: var(--primary-color);
            border-style: solid;
            .widget_header {
                background-color: var(--primary-color);

                .widget_title{
                    margin: 0px;
                    padding: 15px;
                    font-family: var(--first-font);
                    font-weight: bold;
                    font-size: 21px;
                    color: #FFFFFF;
                }
            }
            &#search-box {
                background-color: var(--primary-color);
                form {
                    #search_box_widget{
                        [name="search_box"] {
                            &::placeholder {

                            }
                        }
                        [name="submit"]{
                            float: right;
                        }
                    }
                    #additional_options{
                        background-color: var(--primary-color);
                        width: 100%;
                        [name="checkbox_description"]{

                        }
                    }
                }
            }
            #tags_list {
                @media screen and (min-width: 480px) and (max-width: 980px) {
                    margin-left: 1%;
                    width: 48%;
                }
                list-style-type: square;
                padding-left: 25px;
                li {
                    padding-bottom: 4px;
                    font-size: 13px;
                    position: relative;
                    top: -2px;
                    a {
                        position: relative;
                        top: 1px;

                        font-size: 14.6px;
                        font-family: var(--second-font);
                        text-decoration: none;
                        color: var(--primary-color);
                        &:hover {
                            transition: color 0.2s;
                            color: var(--secondary-color);
                        }
                    }
                }
            }
            #recent-posts_list {
                @media screen and (min-width: 480px) and (max-width: 980px) {
                    margin-right: 1%;
                    width: 48%;
                }
                padding-left: 22px;
                li {
                    font-family: var(--second-font);
                    font-size: 13.4px;
                    padding-bottom: 4px;
                    a {
                        position: relative;
                        left: 3px;

                        text-decoration: none;
                        font-size: 14.6px;
                        font-weight: normal;
                        color: var(--primary-color);
                        &:hover {
                            transition: color 0.2s;
                            color: var(--secondary-color);
                        }
                    }
                }
            }
        }

    }
}

footer {
    clear: both;
    width: 100%;

    #credit {
        p {
            margin: 0px;
            padding: 15px 20px;

            font-family: var(--tertiary-font);
            font-size: 0.85em;
        }
    }

}
