html{ /* Default style*/
    height: 100%;

    --bg: #FCFCFC;
}

html[data-theme='dark']{

}

html[data-screen='vertical']{

}


body {
    background-color: var(--bg);
    margin: 0px;
}

footer aside {
    margin: 10px, 0px, 0px, 0px;
}

footer {
    background-color: #CFCFCF;

    margin: 0px;
    margin-top: 10px;

    height: auto;
    width: 100%;
    max-height: 200px;
    min-height: 125px;
}

aside {
    float: right;
}
