{% load static %}
<section id="post_wrapper">
    {% for post in posts_wrap %}
        <article id="post-{{post.post_id}}">
            <a href="post/{{post.post_slug}}" id="post_image">
                <img src="{{post.post_image.url}}">
            </a>
            <section id="post_content">
                <header id="post_header">
                    <h3 id="post_title">
                        <a href="post/{{post.post_slug}}">
                            {{post.post_title}}
                        </a>
                    </h3>
                    <nav id="post_meta">
                        {{post.date_add}}
                        &#9675;

                        <a id="author-{{post.author.author_id}}" href="{% url 'search-by-author' author_slug=post.author.author_slug %}">
                            {{post.author.author_name}}
                        </a>
                        &#9675;

                        {% for tag in post.tags.all %}
                            <a id="tag-{{tag.tag_id}}" href="{% url 'search-by-tag' tag_slug=tag.tag_slug %}">
                                {{tag.tag_name}}
                            </a>
                            {% if not forloop.last %}|{% endif %}
                        {% endfor %}
                    </nav>
                </header>
                <div id="post_excerpt">
                    <p>
                        #streszczenie postu/jego opis#
                    </p>
                </div>
            </section>
        </article>
    {% endfor %}
</section>
