{% load static %}

<header id="page_header" class="container">
    <a href="{% url 'start_page' %}">
        <img src='{% static "img/bitmap/logo-large.png" %}'/>
    </a>
    <nav>
        <button id="nav_toggle_bt"></button>
        <ul id="nav_list" class="">
            <li>
                <a href="{% url 'start_page' %}" class="{% if 'start_page' in page_destinations %} active {% endif %} bold_link">
                        Strona Startowa
                </a>
            </li>
            <li>
                <a href="{% url 'about_me_page' %}" class="{% if 'about_me' in page_destinations %} active {% endif %} bold_link">
                    O mnie
                </a>
            </li>
            <li>
                <a href="{% about_me_page %}" class="{% if 'contact' in page_destinations %} active {% endif %} bold_link">
                    Kontakt
                </a>
            </li>
        </ul>
    </nav>
</header>
<hr>
