{% load static %}

<header id="page_header" class="container">
    <a href="{% url 'start_page' %}">
        <img src='{% static "img/bitmap/logo-large.png" %}' id="light_theme" class="active"/>
    </a>
    <nav>
        <ul>
            <li>
                <a href="{% url 'start_page' %}" class="{% if page_destination == 'start_page' %} active {% endif %}">
                        Strona Startowa
                </a>
            </li>
            <li>
                <a href="/" class="{% if page_destination == 'about_me' %} active {% endif %}">
                    O mnie
                </a>
            </li>
            <li>
                <a href="/" class="{% if page_destination == 'contact' %} active {% endif %}">
                    Kontakt
                </a>
            </li>
        </ul>
    </nav>
</header>
<hr>
