{% load static %}

<header id="page_header" class="container">
    <a href="{% url 'start_page' %}">
        <img src='{% static "img/bitmap/logo-large.png" %}' id="light_theme" class="active"/>
    </a>
    <nav>
        <ul>
            <li>
                <a href="{% url 'start_page' %}" class="{% if 'start_page' in page_destinations %} active {% endif %} bold_link">
                        Strona Startowa
                </a>
            </li>
            <li>
                <a href="/" class="{% if 'about_me' in page_destinations %} active {% endif %} bold_link">
                    O mnie
                </a>
            </li>
            <li>
                <a href="/" class="{% if 'contact' in page_destinations %} active {% endif %} bold_link">
                    Kontakt
                </a>
            </li>
        </ul>
    </nav>
</header>
<hr>
