{% load static %}
<section id="sidebar" class="container">
    <aside id="search-box">
        <form>
            {% csrf_token %}
            <header class="widget_header">
                <section id="search_box_widget">
                    <input type="search" name="search_box" placeholder="Wyszukaj frazę..."/>
                    <button id="submit" type="submit"><img src="{% static 'img/vector/search_icon.svg' %}"></button>
                </section>
            </header>
            <section id="additional_options">
                <header class="widget_header">
                    <h4 class="widget_title">Dodatkowe opcje</h4>
                </header>
                <ul>
                    <li id="checkbox_description">
                        <input type="checkbox" name="checkbox_description"/>
                        <label>
                            Wyszukuj w treści postów
                        </label>
                    </li>
                </ul>
            </section>
        </form>
    </aside>
    <aside id="recent-posts">
        <header class="widget_header">
            <h3 class="widget_title">Ostatnie Posty</h3>
        </header>
        <ol id="recent-posts_list">
            {% for post in sidebar.recent_posts %}
                <li>
                    <a id="post-{{post.post_id}}" href="{% url 'post_view' post_slug=post.post_slug %}">{{post.post_title}}</a>
                </li>
            {% endfor %}
        </ol>
    </aside>
    <aside id="tags">
        <header class="widget_header">
            <h3 class="widget_title">Kategorie</h3>
        </header>
        <ul id="tags_list">
            {% for tag in sidebar.avaible_tags %}
                <li>
                    <a href="{% url 'search-by-tag' tag_slug=tag.tag_slug %}">{{tag.tag_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
</section>
