<section id="sidebar" class="container">
    <aside id="search-box">
        <form>
            {% csrf_token %}
            <section id="search_box_widget">
                <input type="search" name="search_box" placeholder="Wyszukaj frazę..."/>
                <button type="submit"></button>
            </section>
            <section id="additional_options">
                <input type="checkbox" name="checkbox_description"/>
            </section>
        </form>
    </aside>
    <aside id="recent-posts">
        <header class="widget_header">
            <h3 class="widget_title">Ostatnie Posty</h3>
        </header>
        <ol id="recent-posts_list">
            {% for post in sidebar.recent_posts %}
                <li>
                    <a id="post-{{post.post_id}}" href="{% url 'post_view' post_slug=post.post_slug %}">{{post.post_title}}</a>
                </li>
            {% endfor %}
        </ol>
    </aside>
    <aside id="tags">
        <header class="widget_header">
            <h3 class="widget_title">Kategorie</h3>
        </header>
        <ul id="tags_list">
            {% for tag in sidebar.avaible_tags %}
                <li>
                    <a href="{% url 'search-by-tag' tag_slug=tag.tag_slug %}">{{tag.tag_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
</section>
