<section id="sidebar" class="container">
    <aside id="search-box">
        <form>

        </form>
    </aside>
    <aside id="recent-posts">
        <header class="widget_header">
            <h3 class="widget_title">Ostatnie Posty</h3>
        </header>
        <ol id="recent-posts_list">
            {% for post in recent_posts %}
                <li>
                    <a id="post-{{post.post_id}}" href="post/{{post.post_slug}}">{{post.post_title}}</a>
                </li>
            {% endfor %}
        </ol>
    </aside>
    <aside id="tags">
        <header class="widget_header">
            <h3 class="widget_title">Kategorie</h3>
        </header>
        <ul id="tags_list">
            {% for tag in avaible_tags %}
                <li>
                    <a href="{% url 'search-by-tag' tag_slug=tag.tag_slug %}">{{tag.tag_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
</section>
